{"swagger":"2.0","info":{"description":"The APIs for global unique resource allocation & pbx service.","version":"v1","title":"Pbx REST API References","termsOfService":"http://devpbx.zoom.us/"},"host":"us01pbx-d.zoom.us","basePath":"/","tags":[{"name":"Account Retention Service API","description":"Account Retention Api"},{"name":"Account Service API","description":"Account Api"},{"name":"Account White List Service API","description":"Account White List Api"},{"name":"Audit Log Api","description":"Audit Log Api"},{"name":"Auto Receptionist Api","description":"Auto Receptionist Api"},{"name":"Client Service API","description":"Client Proto Controller"},{"name":"Device Api","description":"Device Api"},{"name":"Device Hot Desking Api","description":"Device Hot Desking Controller"},{"name":"System Dictionary Api","description":"System Dictionary Api"},{"name":"account-setting-controller","description":"Account Setting Controller"},{"name":"api-config-controller","description":"Api Config Controller"},{"name":"audio-language-controller","description":"Audio Language Controller"},{"name":"barge-monitor-whisper-controller","description":"Barge Monitor Whisper Controller"},{"name":"barge-monitor-whisper-extension-controller","description":"Barge Monitor Whisper Extension Controller"},{"name":"billing-controller","description":"Billing Controller"},{"name":"business-hour-controller","description":"Business Hour Controller"},{"name":"byoc-controller","description":"BYOC Controller"},{"name":"call-forward-controller","description":"Call Forward Controller"},{"name":"call-log-controller","description":"Call Log Controller"},{"name":"call-setting-controller","description":"Call Setting Controller"},{"name":"cluster-account-controller","description":"Cluster Account Controller"},{"name":"command-center-notify-controller","description":"Command Center Notify Controller"},{"name":"contact-center-controller","description":"Contact Center Controller"},{"name":"contact-center-domain-controller","description":"Contact Center Domain Controller"},{"name":"dashboard-controller","description":"Dashboard Controller"},{"name":"device-line-key-controller","description":"Device Line Key Controller"},{"name":"dlr-feature-controller","description":"Dlr Feature Controller"},{"name":"download-controller","description":"Download Controller"},{"name":"emergency-call-controller","description":"Emergency Call Controller"},{"name":"executive-assistant-controller","description":"Executive Assistant Controller"},{"name":"extension-controller","description":"Extension Controller"},{"name":"extension-line-key-controller","description":"Extension Line Key Controller"},{"name":"external-bill-code-report-controller","description":"External Bill Code Report Controller"},{"name":"global-setting-file-controller","description":"Global Setting File Controller"},{"name":"group-controller","description":"Group Controller"},{"name":"group-exception-setting-controller","description":"Group Exception Setting Controller"},{"name":"group-extension-controller","description":"Group Extension Controller"},{"name":"group-out-hours-setting-controller","description":"Group Out Hours Setting Controller"},{"name":"group-setting-controller","description":"Group Setting Controller"},{"name":"holiday-hour-controller","description":"Holiday Hour Controller"},{"name":"interop-controller","description":"Interop Controller"},{"name":"lbr-location-controller","description":"Lbr Location Controller"},{"name":"login-controller","description":"Login Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"out-hour-handling-controller","description":"Out Hour Handling Controller"},{"name":"out-hour-ivr-controller","description":"Out Hour IVR Controller"},{"name":"pbx-lookup-controller","description":"Pbx Lookup Controller"},{"name":"pbx-user-controller","description":"Pbx User Controller"},{"name":"phone-message-controller","description":"Phone Message Controller"},{"name":"phone-number-caller-name-controller","description":"Phone Number Caller Name Controller"},{"name":"phone-number-carrier-controller","description":"Phone Number Carrier Controller"},{"name":"phone-number-controller","description":"Phone Number Controller"},{"name":"phone-number-pool-controller","description":"Phone Number Pool Controller"},{"name":"phone-number-portin-controller","description":"Phone Number Portin Controller"},{"name":"phone-number-replace-controller","description":"Phone Number Replace Controller"},{"name":"phone-offline-alert-controller","description":"Phone Offline Alert Controller"},{"name":"policy-controller","description":"Policy Controller"},{"name":"port-in-notification-controller","description":"Port In Notification Controller"},{"name":"provision-template-controller","description":"Provision Template Controller"},{"name":"recording-controller","description":"Recording Controller"},{"name":"recording-shared-controller","description":"Recording Shared Controller"},{"name":"reserved-extension-controller","description":"Reserved Extension Controller"},{"name":"retry-controller","description":"Retry Controller"},{"name":"role-controller","description":"Role Controller"},{"name":"setting-prompt-file-controller","description":"Setting Prompt File Controller"},{"name":"sip-trunk-controller","description":"Sip Trunk Controller"},{"name":"sip-zone-controller","description":"Sip Zone Controller"},{"name":"site-controller","description":"Site Controller"},{"name":"sla-controller","description":"SLA Controller"},{"name":"slg-controller","description":"Slg Controller"},{"name":"slg-member-controller","description":"Slg Member Controller"},{"name":"time-zone-controller","description":"Time Zone Controller"},{"name":"upload-controller","description":"Upload Controller"},{"name":"usage-report-controller","description":"Usage Report Controller"},{"name":"user-blocked-controller","description":"User Blocked Controller"},{"name":"user-library-file-controller","description":"User Library File Controller"},{"name":"voice-mail-shared-controller","description":"Voice Mail Shared Controller"},{"name":"voicemail-controller","description":"Voicemail Controller"},{"name":"zm-api-controller","description":"ZM Api Controller"},{"name":"zoom-room-controller","description":"Zoom Room Controller"}],"paths":{"/api/v2/pbx/account":{"post":{"tags":["Account Service API"],"summary":"createAccount","operationId":"createAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/AccountCreationDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/ck/phone-message/bw/callback":{"post":{"tags":["phone-message-controller"],"summary":"handleBWMsgCallback","operationId":"handleBWMsgCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/BWMsgCallbackPayloadDTO"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/ck/phone-message/iq/callback":{"post":{"tags":["phone-message-controller"],"summary":"handleIQMsgCallback","operationId":"handleIQMsgCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/IQMsgCallbackPayloadDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/ck/phone-message/mms/{fileId}":{"get":{"tags":["phone-message-controller"],"summary":"getMediaFileByBW","operationId":"getMediaFileByBWUsingGET","produces":["*/*"],"parameters":[{"name":"fileId","in":"path","description":"fileId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/ck/port-in/bw/callback":{"post":{"tags":["port-in-notification-controller"],"summary":"handleBWPortInCallback","operationId":"handleBWPortInCallbackUsingPOST","consumes":["application/xml"],"produces":["application/xml"],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/ck/port-out/bw/callback":{"post":{"tags":["phone-number-controller"],"summary":"portOutValidation","operationId":"portOutValidationUsingPOST","consumes":["application/xml"],"produces":["application/xml"],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/order/{orderId}":{"post":{"tags":["port-in-notification-controller"],"summary":"handleBwPortIn","operationId":"handleBwPortInUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/phone-message/cluster/bw":{"post":{"tags":["phone-message-controller"],"summary":"sendBWCallbackToCluster","operationId":"sendBWCallbackToClusterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/phone-message/cluster/iq":{"post":{"tags":["phone-message-controller"],"summary":"sendIQCallbackToCluster","operationId":"sendIQCallbackToClusterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/PhoneMessageClusterDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/phone-message/cluster/on-net":{"post":{"tags":["phone-message-controller"],"summary":"sendOnNetCallbackToCluster","operationId":"sendOnNetCallbackToClusterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"$ref":"#/definitions/PhoneMessageClusterDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}":{"get":{"tags":["Account Service API"],"summary":"Get account information","description":"Get account information by account id","operationId":"getAccountInfoUsingGET","produces":["*/*"],"parameters":[{"name":"Account id","in":"path","description":"Account id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["Account Service API"],"summary":"Update Account","description":"Update Account Information","operationId":"updateAccountInfoUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"Account","description":"Account information","required":false,"schema":{"$ref":"#/definitions/Account"}},{"name":"Account id","in":"path","description":"Account id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/account-blocked":{"get":{"tags":["Account Service API"],"summary":"Account blocked list","operationId":"listAccountBlockedUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"isAll","in":"query","required":false,"type":"string"},{"name":"isPrefix","in":"query","required":false,"type":"integer","format":"int32"},{"name":"page_number","in":"query","description":"current page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"page size","required":false,"type":"integer","default":30,"format":"int32"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«AccountBlockedNumberDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["Account Service API"],"summary":"Block the account","operationId":"createAccountBlockedUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"accountBlocked","description":"Account blocked information","required":false,"schema":{"$ref":"#/definitions/AccountBlockedNumberDto"}},{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountBlockedNumberDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/account-blocked/{accountBlockedId}":{"get":{"tags":["Account Service API"],"summary":"Get account blocked information","operationId":"getAccountBlockedInfoUsingGET","produces":["*/*"],"parameters":[{"name":"accountBlockedId","in":"path","description":"Account blocked id","required":false,"type":"string"},{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountBlockedNumberDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Account Service API"],"summary":"Delete blocked account","operationId":"deleteAccountBlockedUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountBlockedId","in":"path","description":"Account blocked id","required":false,"type":"string"},{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["Account Service API"],"summary":"Modify blocked account","operationId":"updateAccountBlockedUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"accountBlocked","description":"Account blocked information","required":false,"schema":{"$ref":"#/definitions/AccountBlockedNumberDto"}},{"name":"accountBlockedId","in":"path","description":"Account blocked id","required":false,"type":"string"},{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountBlockedNumberDto"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/account-white":{"get":{"tags":["Account White List Service API"],"summary":"Account white list","operationId":"listAccountWhiteUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"phoneNumber","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«AccountWhiteNumberDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["Account White List Service API"],"summary":"Add account-level white list","operationId":"createAccountWhiteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"accountWhite","description":"Account white information","required":false,"schema":{"$ref":"#/definitions/AccountWhiteNumberDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountWhiteNumberDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Account White List Service API"],"summary":"Delete account-level white info","operationId":"deleteAccountWhiteUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"accountWhiteDelete","description":"accountWhiteDelete","required":true,"schema":{"$ref":"#/definitions/AccountWhiteDeleteDTO"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/account-white/{accountWhiteId}":{"get":{"tags":["Account White List Service API"],"summary":"Get account-level white info","operationId":"getAccountWhiteInfoUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"accountWhiteId","in":"path","description":"accountWhiteId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountWhiteNumberDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["Account White List Service API"],"summary":"Update account-level white info","operationId":"updateAccountWhiteUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"accountWhite","description":"Account white information","required":false,"schema":{"$ref":"#/definitions/AccountWhiteNumberDTO"}},{"name":"accountWhiteId","in":"path","description":"accountWhiteId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/added/interop":{"get":{"tags":["interop-controller"],"summary":"getAddedInteropDevices","operationId":"getAddedInteropDevicesUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"accountId","in":"query","required":false,"type":"string"},{"name":"allCallingPlan","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"allowPlanTypes","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"assignee","in":"query","required":false,"type":"integer","format":"int32"},{"name":"basicPlan","in":"query","required":false,"type":"boolean"},{"name":"deviceIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"deviceSource","in":"query","required":false,"type":"integer","format":"int32"},{"name":"extensionId","in":"query","required":false,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"hotDeskingUsed","in":"query","required":false,"type":"integer","format":"int32"},{"name":"includeEmergencyAddress","in":"query","required":false,"type":"boolean"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"location","in":"query","required":false,"type":"string"},{"name":"macAddressKeyword","in":"query","required":false,"type":"string"},{"name":"macAddresses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"manufacturerId","in":"query","required":false,"type":"string"},{"name":"modelId","in":"query","required":false,"type":"string"},{"name":"modelIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"newBilling","in":"query","required":false,"type":"boolean"},{"name":"phoneNumberId","in":"query","required":false,"type":"string"},{"name":"phoneNumberKeyword","in":"query","required":false,"type":"string"},{"name":"planType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"privateIpKeyword","in":"query","required":false,"type":"string"},{"name":"provisioned","in":"query","required":false,"type":"integer","format":"int32"},{"name":"registrationName","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"siteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"supportMultipleExtension","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"unassigned","in":"query","required":false,"type":"string"},{"name":"withPhoneNumberBound","in":"query","required":false,"type":"integer","format":"int32"},{"name":"ztpSynced","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«InteropDeviceDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/audio-language":{"get":{"tags":["audio-language-controller"],"summary":"getAudioLanguage","operationId":"getAudioLanguageUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AudioLanguage"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["audio-language-controller"],"summary":"updateAudioLanguage","operationId":"updateAudioLanguageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"audioLanguage","description":"audioLanguage","required":true,"schema":{"$ref":"#/definitions/AudioLanguage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AudioLanguage"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/audioLibrarySettings":{"get":{"tags":["account-setting-controller"],"summary":"batchGetAudioLibrarySettings","operationId":"batchGetAudioLibrarySettingsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/AccountSettingDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/auditLog":{"get":{"tags":["Audit Log Api"],"summary":"Audit Log list","operationId":"listAuditLogDtoUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"account id","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"from","in":"query","description":"from date","required":false,"type":"string"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"},{"name":"page_number","in":"query","description":"current page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"page size","required":false,"type":"integer","default":30,"format":"int32"},{"name":"to","in":"query","description":"to date","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«AuditLogDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/auto-receptionist":{"get":{"tags":["Auto Receptionist Api"],"summary":"Auto receptionist list","operationId":"listAutoReceptionistUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"account id","required":false,"type":"string"},{"name":"includeIds","in":"query","description":"includeIds","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name","in":"query","description":"auto receptionist name","required":false,"type":"string"},{"name":"page_number","in":"query","description":"current page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"page_size","in":"query","description":"page size","required":false,"type":"integer","default":30,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«AutoReceptionist»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["Auto Receptionist Api"],"summary":"Create auto receptionist","operationId":"createAutoReceptionistUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"Account id","required":false,"type":"string"},{"in":"body","name":"autoReceptionist","description":"Auto receptionist body","required":false,"schema":{"$ref":"#/definitions/AutoReceptionist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoReceptionistFullDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/auto-receptionist/extension/{extensionId}":{"get":{"tags":["Auto Receptionist Api"],"summary":"Get auto receptionist by extensionId","operationId":"getAutoReceptionistByExtensionIdUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"Account id","required":false,"type":"string"},{"name":"extensionId","in":"path","description":"extension id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoReceptionistFullDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/auto-receptionist/site/{siteId}":{"put":{"tags":["Auto Receptionist Api"],"summary":"updateAutoReceptionistsSite","operationId":"updateAutoReceptionistsSiteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"dtos","description":"dtos","required":true,"schema":{"$ref":"#/definitions/SiteObjectDtos«Extension»"}},{"name":"siteId","in":"path","description":"siteId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/auto-receptionist/{autoReceptionistId}":{"get":{"tags":["Auto Receptionist Api"],"summary":"Get auto receptionist by id","operationId":"getAutoReceptionistByIdUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"Account id","required":false,"type":"string"},{"name":"autoReceptionistId","in":"path","description":"Auto receptionist id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoReceptionistFullDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Auto Receptionist Api"],"summary":"Delete auto receptionist","operationId":"deleteAutoReceptionistUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"Account id","required":false,"type":"string"},{"name":"autoReceptionistId","in":"path","description":"Auto receptionist id","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["Auto Receptionist Api"],"summary":"Modify auto receptionist","operationId":"updateAutoReceptionistUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"Account id","required":false,"type":"string"},{"in":"body","name":"autoReceptionist","description":"Auto receptionist body","required":false,"schema":{"$ref":"#/definitions/AutoReceptionist"}},{"name":"autoReceptionistId","in":"path","description":"Auto receptionist id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoReceptionistFullDto"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/auto-receptionist/{autoReceptionistId}/duplicate":{"post":{"tags":["Auto Receptionist Api"],"summary":"Duplicate auto receptionist","operationId":"duplicateAutoReceptionistUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"Account id","required":false,"type":"string"},{"name":"autoReceptionistId","in":"path","description":"Auto-Receptionist id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoReceptionistFullDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/autoExtensionNumber":{"get":{"tags":["extension-controller"],"summary":"generateExtensionNumber","operationId":"generateExtensionNumberUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"siteCode","in":"query","description":"siteCode","required":false,"type":"integer","format":"int32"},{"name":"siteId","in":"query","description":"siteId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExtensionNumberDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/autoReceptionist/{autoReceptionistId}/policy/{policyKey}":{"post":{"tags":["policy-controller"],"summary":"updateExtLevelAutoReceptionistPolicy","operationId":"updateExtLevelAutoReceptionistPolicyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"autoReceptionistId","in":"path","description":"autoReceptionistId","required":true,"type":"string"},{"in":"body","name":"policy","description":"policy","required":true,"schema":{"$ref":"#/definitions/PolicyDto"}},{"name":"policyKey","in":"path","description":"policyKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisper":{"get":{"tags":["barge-monitor-whisper-controller"],"summary":"listBargeMonitorWhisperByAccountId","operationId":"listBargeMonitorWhisperByAccountIdUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"adminExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwId","in":"query","required":false,"type":"string"},{"name":"capExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"permission","in":"query","required":false,"type":"integer","format":"int32"},{"name":"playPrompt","in":"query","required":false,"type":"integer","format":"int32"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"siteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«BargeMonitorWhisperDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["barge-monitor-whisper-controller"],"summary":"createBargeMonitorWhisper","operationId":"createBargeMonitorWhisperUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"bmwParam","description":"bmwParam","required":true,"schema":{"$ref":"#/definitions/BargeMonitorWhisperParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BargeMonitorWhisperDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisper/extension/{extensionId}/getMonitoring":{"get":{"tags":["barge-monitor-whisper-controller"],"summary":"getBargeMonitorWhisperForExtension","operationId":"getBargeMonitorWhisperForExtensionUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"extensionId","in":"path","description":"extensionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BargeMonitorWhisperDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisper/{bmwId}":{"get":{"tags":["barge-monitor-whisper-controller"],"summary":"getBargeMonitorWhisperById","operationId":"getBargeMonitorWhisperByIdUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BargeMonitorWhisperDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["barge-monitor-whisper-controller"],"summary":"deleteBargeMonitorWhisperById","operationId":"deleteBargeMonitorWhisperByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["barge-monitor-whisper-controller"],"summary":"updateBargeMonitorWhisper","operationId":"updateBargeMonitorWhisperUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"},{"in":"body","name":"queryParam","description":"queryParam","required":true,"schema":{"$ref":"#/definitions/BargeMonitorWhisperParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BargeMonitorWhisperDTO"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisperExtension/extension/{extensionId}/listMonitoredForExtension":{"get":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"listMonitoredForExtension","operationId":"listMonitoredForExtensionUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"adminExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwExtensionId","in":"query","required":false,"type":"string"},{"name":"bmwExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwId","in":"query","required":false,"type":"string"},{"name":"bmwIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"capExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"extensionFilter","in":"query","required":false,"type":"string"},{"name":"extensionId","in":"path","description":"extensionId","required":true,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"isAdmin","in":"query","required":false,"type":"integer","format":"int32"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"userExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«BargeMonitorWhisperExtensionDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisperExtension/extension/{extensionId}/listMonitoringForExtension":{"get":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"listMonitoringForExtension","operationId":"listMonitoringForExtensionUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"adminExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwExtensionId","in":"query","required":false,"type":"string"},{"name":"bmwExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwId","in":"query","required":false,"type":"string"},{"name":"bmwIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"capExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"extensionFilter","in":"query","required":false,"type":"string"},{"name":"extensionId","in":"path","description":"extensionId","required":true,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"isAdmin","in":"query","required":false,"type":"integer","format":"int32"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"userExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«BargeMonitorWhisperExtensionDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisperExtension/{bmwId}/extension":{"get":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"listBargeMonitorWhisperExtensionPage","operationId":"listBargeMonitorWhisperExtensionPageUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"adminExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwExtensionId","in":"query","required":false,"type":"string"},{"name":"bmwExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"},{"name":"bmwId","in":"query","required":false,"type":"string"},{"name":"bmwIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"capExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"extensionFilter","in":"query","required":false,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"isAdmin","in":"query","required":false,"type":"integer","format":"int32"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"userExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«BargeMonitorWhisperExtensionDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"createBargeMonitorWhisperExtension","operationId":"createBargeMonitorWhisperExtensionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"},{"in":"body","name":"queryParam","description":"queryParam","required":true,"schema":{"$ref":"#/definitions/BargeMonitorWhisperExtensionParam"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"deleteBargeMonitorWhisperExtension","operationId":"deleteBargeMonitorWhisperExtensionUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"},{"in":"body","name":"queryParam","description":"queryParam","required":true,"schema":{"$ref":"#/definitions/BargeMonitorWhisperExtensionParam"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisperExtension/{bmwId}/listCapExtension":{"get":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"listCapExtension","operationId":"listCapExtensionUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"adminExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwExtensionId","in":"query","required":false,"type":"string"},{"name":"bmwExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"},{"name":"bmwId","in":"query","required":false,"type":"string"},{"name":"bmwIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"capExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"extensionFilter","in":"query","required":false,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"isAdmin","in":"query","required":false,"type":"integer","format":"int32"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"userExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«DeviceDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bargeMonitorWhisperExtension/{bmwId}/listUserExtension":{"get":{"tags":["barge-monitor-whisper-extension-controller"],"summary":"listUserExtension","operationId":"listUserExtensionUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"adminExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwExtensionId","in":"query","required":false,"type":"string"},{"name":"bmwExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bmwId","in":"path","description":"bmwId","required":true,"type":"string"},{"name":"bmwId","in":"query","required":false,"type":"string"},{"name":"bmwIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"capExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"extensionFilter","in":"query","required":false,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"isAdmin","in":"query","required":false,"type":"integer","format":"int32"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"userExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«UserDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/batch-settings/{settingKeyList}":{"get":{"tags":["account-setting-controller"],"summary":"batchGetAccountSetting","operationId":"batchGetAccountSettingUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"settingKeyList","in":"path","description":"settingKeyList","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/AccountSettingDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bill_code/download/{downloadId}":{"get":{"tags":["external-bill-code-report-controller"],"summary":"downloadUserUsageReport","operationId":"downloadUserUsageReportUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"downloadId","in":"path","description":"downloadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bill_code/export":{"get":{"tags":["external-bill-code-report-controller"],"summary":"exportUserUsageReport","operationId":"exportUserUsageReportUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"direction","in":"query","description":"direction","required":false,"type":"string"},{"name":"endTime","in":"query","description":"endTime","required":false,"type":"string"},{"name":"extensionId","in":"query","description":"extensionId","required":false,"type":"string"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"},{"name":"servletMapping.mappingMatch","in":"query","required":false,"type":"string","enum":["CONTEXT_ROOT","DEFAULT","EXACT","EXTENSION","PATH","UNKNOWN"]},{"name":"servletMapping.matchValue","in":"query","required":false,"type":"string"},{"name":"servletMapping.pattern","in":"query","required":false,"type":"string"},{"name":"servletMapping.servletName","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","description":"siteId","required":false,"type":"string"},{"name":"startTime","in":"query","description":"startTime","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/bill_code/report":{"get":{"tags":["external-bill-code-report-controller"],"summary":"userUsageReport","operationId":"userUsageReportUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"direction","in":"query","description":"direction","required":false,"type":"string"},{"name":"endTime","in":"query","description":"endTime","required":false,"type":"string"},{"name":"extensionId","in":"query","description":"extensionId","required":false,"type":"string"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"},{"name":"servletMapping.mappingMatch","in":"query","required":false,"type":"string","enum":["CONTEXT_ROOT","DEFAULT","EXACT","EXTENSION","PATH","UNKNOWN"]},{"name":"servletMapping.matchValue","in":"query","required":false,"type":"string"},{"name":"servletMapping.pattern","in":"query","required":false,"type":"string"},{"name":"servletMapping.servletName","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","description":"siteId","required":false,"type":"string"},{"name":"startTime","in":"query","description":"startTime","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultDto«ExternalBillCodeReport»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/extension/licenses":{"patch":{"tags":["billing-controller"],"summary":"deleteBillingLicense","operationId":"deleteBillingLicenseUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"param","description":"param","required":true,"schema":{"$ref":"#/definitions/ExtensionParam"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/extension/{extensionId}/license":{"get":{"tags":["billing-controller"],"summary":"listBillingLicense","operationId":"listBillingLicenseUsingGET","produces":["*/*"],"parameters":[{"name":"extensionId","in":"path","description":"extensionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BillingLicense"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["billing-controller"],"summary":"deleteBillingLicense","operationId":"deleteBillingLicenseUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"extensionId","in":"path","description":"extensionId","required":true,"type":"string"},{"name":"planTypes","in":"query","description":"planTypes","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/license":{"post":{"tags":["billing-controller"],"summary":"resetExtensionBillingLicense","operationId":"resetExtensionBillingLicenseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"billingLicenseDTO","description":"billingLicenseDTO","required":true,"schema":{"$ref":"#/definitions/BillingLicenseDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["billing-controller"],"summary":"appendBillingLicense","operationId":"appendBillingLicenseUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"billingLicenseDTO","description":"billingLicenseDTO","required":true,"schema":{"$ref":"#/definitions/BillingLicenseDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/plan":{"get":{"tags":["billing-controller"],"summary":"listAccountBillingPlanForAdmin","operationId":"listAccountBillingPlanForAdminUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BillingAccountPlan"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/plan/phone-number":{"get":{"tags":["billing-controller"],"summary":"getTollTollfreeNumber","operationId":"getTollTollfreeNumberUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/user/plan":{"get":{"tags":["billing-controller"],"summary":"listAccountBillingPlanForUser","operationId":"listAccountBillingPlanForUserUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BillingAccountPlan"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/v2/plan/phone-number":{"get":{"tags":["billing-controller"],"summary":"listCountryTollTollfreeNumber","operationId":"listCountryTollTollfreeNumberUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CountryPhoneNumber"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/billing/v2/{extensionId}/plan-country":{"get":{"tags":["billing-controller"],"summary":"listCountryForAssignPhoneNumberToExtension","operationId":"listCountryForAssignPhoneNumberToExtensionUsingGET","produces":["*/*"],"parameters":[{"name":"extensionId","in":"path","description":"extensionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CountryPhoneNumber"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/block-anony-calls/{action}":{"patch":{"tags":["Account Service API"],"summary":"blockAnonyCalls","operationId":"blockAnonyCallsUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"action","in":"path","description":"action","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/business-hours":{"get":{"tags":["business-hour-controller"],"summary":"getAccountLevelBusinessHours","operationId":"getAccountLevelBusinessHoursUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessHour"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["business-hour-controller"],"summary":"createAccountLevelBusinessHours","operationId":"createAccountLevelBusinessHoursUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"businessHours","description":"businessHours","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/BusinessHour"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessHour"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["business-hour-controller"],"summary":"deleteBusinessHours","operationId":"deleteBusinessHoursUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["business-hour-controller"],"summary":"updateAccountLevelBusinessHours","operationId":"updateAccountLevelBusinessHoursUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"businessHours","description":"businessHours","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/BusinessHour"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessHour"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/byoc/verification":{"post":{"tags":["byoc-controller"],"summary":"verifyBYOCNumber","operationId":"verifyBYOCNumberUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"phoneNumberIdList","description":"phoneNumberIdList","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BYOCVerificationProgress"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/byoc/verification/status":{"get":{"tags":["byoc-controller"],"summary":"getBYOCVerificationStatus","operationId":"getBYOCVerificationStatusUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BYOCVerificationProgress"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-country/{inOrOut}":{"get":{"tags":["System Dictionary Api"],"summary":"listCallCountries","operationId":"listCallCountriesUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"inOrOut","in":"path","description":"inOrOut","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Country"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-log":{"get":{"tags":["call-log-controller"],"summary":"listAccountCallLog","operationId":"listAccountCallLogUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"authorizedExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"authorizedSiteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"charged","in":"query","required":false,"type":"boolean"},{"name":"direction","in":"query","required":false,"type":"string"},{"name":"eventType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"extensionId","in":"query","required":false,"type":"string"},{"name":"from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"pagingState","in":"query","required":false,"type":"string"},{"name":"pathDetails","in":"query","required":false,"type":"string"},{"name":"phoneNumberFrom","in":"query","required":false,"type":"string"},{"name":"phoneNumberTo","in":"query","required":false,"type":"string"},{"name":"resultType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"scrollId","in":"query","required":false,"type":"string"},{"name":"scrolled","in":"query","required":false,"type":"boolean"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"to","in":"query","required":false,"type":"string","format":"date-time"},{"name":"userType","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallLogResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-log-download/{downloadId}":{"get":{"tags":["call-log-controller"],"summary":"downloadCallLog","operationId":"downloadCallLogUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"downloadId","in":"path","description":"downloadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-log-export":{"get":{"tags":["call-log-controller"],"summary":"exportCallLog","operationId":"exportCallLogUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"authorizedExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"authorizedSiteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"charged","in":"query","required":false,"type":"boolean"},{"name":"direction","in":"query","required":false,"type":"string"},{"name":"eventType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"extensionId","in":"query","required":false,"type":"string"},{"name":"from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"pagingState","in":"query","required":false,"type":"string"},{"name":"pathDetails","in":"query","required":false,"type":"string"},{"name":"phoneNumberFrom","in":"query","required":false,"type":"string"},{"name":"phoneNumberTo","in":"query","required":false,"type":"string"},{"name":"resultType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"scrollId","in":"query","required":false,"type":"string"},{"name":"scrolled","in":"query","required":false,"type":"boolean"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"to","in":"query","required":false,"type":"string","format":"date-time"},{"name":"userType","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-log/export":{"get":{"tags":["call-log-controller"],"summary":"exportAccountCallLog","operationId":"exportAccountCallLogUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"authorizedExtensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"authorizedSiteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"charged","in":"query","required":false,"type":"boolean"},{"name":"direction","in":"query","required":false,"type":"string"},{"name":"eventType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"extensionId","in":"query","required":false,"type":"string"},{"name":"from","in":"query","required":false,"type":"string","format":"date-time"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"pagingState","in":"query","required":false,"type":"string"},{"name":"pathDetails","in":"query","required":false,"type":"string"},{"name":"phoneNumberFrom","in":"query","required":false,"type":"string"},{"name":"phoneNumberTo","in":"query","required":false,"type":"string"},{"name":"resultType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"scrollId","in":"query","required":false,"type":"string"},{"name":"scrolled","in":"query","required":false,"type":"boolean"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"to","in":"query","required":false,"type":"string","format":"date-time"},{"name":"userType","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-log/{callId}/detail":{"get":{"tags":["call-log-controller"],"summary":"callLogDetail","operationId":"callLogDetailUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"callId","in":"path","description":"callId","required":true,"type":"string"},{"name":"direction","in":"query","description":"direction","required":true,"type":"string"},{"name":"extensionId","in":"path","description":"extensionId","required":false,"type":"string"},{"name":"fromExtensionId","in":"query","description":"fromExtensionId","required":false,"type":"string"},{"name":"toExtensionId","in":"query","description":"toExtensionId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CallLog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/call-log/{callLogId}/bill-code":{"patch":{"tags":["call-log-controller"],"summary":"callLogBillCode","operationId":"callLogBillCodeUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"callLogId","in":"path","description":"callLogId","required":true,"type":"string"},{"name":"extensionId","in":"path","description":"extensionId","required":false,"type":"string"},{"in":"body","name":"param","description":"param","required":true,"schema":{"$ref":"#/definitions/ExtenalBillCodeParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/caller-name":{"get":{"tags":["phone-number-caller-name-controller"],"summary":"getAccountPhoneNumberCallerNames","operationId":"getAccountPhoneNumberCallerNamesUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"siteId","in":"query","description":"siteId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PhoneNumberCallerName"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["phone-number-caller-name-controller"],"summary":"updateAccountPhoneNumberCallerName","operationId":"updateAccountPhoneNumberCallerNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"phoneNumberCallerName","description":"phoneNumberCallerName","required":true,"schema":{"$ref":"#/definitions/PhoneNumberCallerName"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/cap/{capExtensionId}":{"get":{"tags":["Device Api"],"summary":"getCommonAreaPhone","operationId":"getCommonAreaPhoneUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"capExtensionId","in":"path","description":"capExtensionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Device"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/carrier":{"get":{"tags":["Account Service API"],"summary":"listAccountCarrier","operationId":"listAccountCarrierUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Operator"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/carrier/tf-order":{"post":{"tags":["phone-number-carrier-controller"],"summary":"orderTfInventory","operationId":"orderTfInventoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"tnOrderParam","description":"tnOrderParam","required":true,"schema":{"$ref":"#/definitions/TnOrderParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseStatus"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/carrier/tn-order":{"post":{"tags":["phone-number-carrier-controller"],"summary":"orderTnInventory","operationId":"orderTnInventoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"tnOrderParam","description":"tnOrderParam","required":true,"schema":{"$ref":"#/definitions/TnOrderParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseStatus"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/change-offline-send-email-switch/{switch}":{"post":{"tags":["phone-offline-alert-controller"],"summary":"changeAccountPhoneOfflineAlertStatus","operationId":"changeAccountPhoneOfflineAlertStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"accountPhoneOfflineStatus","description":"accountPhoneOfflineStatus","required":true,"schema":{"$ref":"#/definitions/AccountPhoneOfflineStatus"}},{"name":"switch","in":"path","description":"switch","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountPhoneOfflineStatus"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/change-send-email-switch/{switch}":{"post":{"tags":["Account Service API"],"summary":"changeSendAssignEmail","operationId":"changeSendAssignEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"switch","in":"path","description":"switch","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/common-area/site/{siteId}":{"put":{"tags":["Device Api"],"summary":"moveCommonAreaSite","operationId":"moveCommonAreaSiteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"dtos","description":"dtos","required":true,"schema":{"$ref":"#/definitions/SiteObjectDtos«Extension»"}},{"name":"siteId","in":"path","description":"siteId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center":{"get":{"tags":["contact-center-controller"],"summary":"queryContactSettings","operationId":"queryContactSettingsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactCenterSetting"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/domain":{"post":{"tags":["contact-center-domain-controller"],"summary":"saveDomain","operationId":"saveDomainUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"domain","description":"domain","required":true,"schema":{"$ref":"#/definitions/ContactCenterDomain"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/domain/delete":{"post":{"tags":["contact-center-domain-controller"],"summary":"deleteDomains","operationId":"deleteDomainsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"domainIds","description":"domainIds","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterDomain"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/domain/{domainId}":{"get":{"tags":["contact-center-domain-controller"],"summary":"getDomain","operationId":"getDomainUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"domainId","in":"path","description":"domainId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterDomain"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"patch":{"tags":["contact-center-domain-controller"],"summary":"updateDomain","operationId":"updateDomainUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"domain","description":"domain","required":true,"schema":{"$ref":"#/definitions/ContactCenterDomain"}},{"name":"domainId","in":"path","description":"domainId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterDomain"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/domains":{"get":{"tags":["contact-center-domain-controller"],"summary":"queryDomains","operationId":"queryDomainsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"enable","in":"query","description":"enable","required":false,"type":"integer","format":"int32"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«ContactCenterDomain»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/genesys/numbers":{"post":{"tags":["contact-center-controller"],"summary":"getGenesysNumbers","operationId":"getGenesysNumbersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"credential","description":"credential","required":true,"schema":{"$ref":"#/definitions/GenesysAccessCredential"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterApiResp"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/lists":{"get":{"tags":["contact-center-controller"],"summary":"listContactSettings","operationId":"listContactSettingsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactCenterSetting"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/on_off":{"get":{"tags":["contact-center-controller"],"summary":"checkEnableContactCenter","operationId":"checkEnableContactCenterUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/setting":{"post":{"tags":["contact-center-controller"],"summary":"saveContactCenter","operationId":"saveContactCenterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"param","description":"param","required":true,"schema":{"$ref":"#/definitions/ContactCenterParam"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterSetting"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/twilio/numbers":{"post":{"tags":["contact-center-controller"],"summary":"getTwilioNumbers","operationId":"getTwilioNumbersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"credential","description":"credential","required":true,"schema":{"$ref":"#/definitions/TwilioAccessCredential"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterApiResp"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/types":{"get":{"tags":["contact-center-controller"],"summary":"getContactTypes","operationId":"getContactTypesUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"keyword","in":"query","description":"keyword","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactCenter"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/contact_center/{settingId}":{"get":{"tags":["contact-center-controller"],"summary":"getContactSettings","operationId":"getContactSettingsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"settingId","in":"path","description":"settingId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactCenterSetting"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["contact-center-controller"],"summary":"deleteContactSetting","operationId":"deleteContactSettingUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"param","description":"param","required":false,"schema":{"$ref":"#/definitions/ContactCenterParam"}},{"name":"settingId","in":"path","description":"settingId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/default-emergency-address/is-us-ca":{"get":{"tags":["System Dictionary Api"],"summary":"getExtSiteDefaultEmergencyAddressIfUSCA","operationId":"getExtSiteDefaultEmergencyAddressIfUSCAUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"extensionId","in":"query","description":"extensionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device":{"get":{"tags":["Device Api"],"summary":"listDevices","operationId":"listDevicesUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"accountId","in":"query","required":false,"type":"string"},{"name":"allCallingPlan","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"allowPlanTypes","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"assignee","in":"query","required":false,"type":"integer","format":"int32"},{"name":"basicPlan","in":"query","required":false,"type":"boolean"},{"name":"deviceIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"deviceSource","in":"query","required":false,"type":"integer","format":"int32"},{"name":"extensionId","in":"query","required":false,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"hotDeskingUsed","in":"query","required":false,"type":"integer","format":"int32"},{"name":"includeEmergencyAddress","in":"query","required":false,"type":"boolean"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"location","in":"query","required":false,"type":"string"},{"name":"macAddressKeyword","in":"query","required":false,"type":"string"},{"name":"macAddresses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"manufacturerId","in":"query","required":false,"type":"string"},{"name":"modelId","in":"query","required":false,"type":"string"},{"name":"modelIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"module","in":"query","description":"module","required":false,"type":"string"},{"name":"newBilling","in":"query","required":false,"type":"boolean"},{"name":"operate","in":"query","description":"operate","required":false,"type":"string"},{"name":"phoneNumberId","in":"query","required":false,"type":"string"},{"name":"phoneNumberKeyword","in":"query","required":false,"type":"string"},{"name":"planType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"privateIpKeyword","in":"query","required":false,"type":"string"},{"name":"provisioned","in":"query","required":false,"type":"integer","format":"int32"},{"name":"registrationName","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"siteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"supportMultipleExtension","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"unassigned","in":"query","required":false,"type":"string"},{"name":"withPhoneNumberBound","in":"query","required":false,"type":"integer","format":"int32"},{"name":"ztpSynced","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResult«DeviceDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["Device Api"],"summary":"addDevice","operationId":"addDeviceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"device","description":"device","required":true,"schema":{"$ref":"#/definitions/Device"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Device"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device-web-server-switch":{"get":{"tags":["Account Service API"],"summary":"getDeviceWebServerSwitch","operationId":"getDeviceWebServerSwitchUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device-web-server-switch/{switch}":{"post":{"tags":["Account Service API"],"summary":"updateDeviceWebServerSwitch","operationId":"updateDeviceWebServerSwitchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"switch","in":"path","description":"switch","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device/batch/{deviceList}":{"delete":{"tags":["Device Api"],"summary":"deleteBatchCommonAreaPhones","operationId":"deleteBatchCommonAreaPhonesUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"deviceList","in":"path","description":"deviceList","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device/convert2cap":{"post":{"tags":["Device Api"],"summary":"convertUnassigned2CommonAreaPhone","operationId":"convertUnassigned2CommonAreaPhoneUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"unassignedDeviceIds","description":"unassignedDeviceIds","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeviceConvert2CapDto"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device/count":{"get":{"tags":["Device Api"],"summary":"countDevice","operationId":"countDeviceUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"accountId","in":"query","required":false,"type":"string"},{"name":"allCallingPlan","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"allowPlanTypes","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"assignee","in":"query","required":false,"type":"integer","format":"int32"},{"name":"basicPlan","in":"query","required":false,"type":"boolean"},{"name":"deviceIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"deviceSource","in":"query","required":false,"type":"integer","format":"int32"},{"name":"extensionId","in":"query","required":false,"type":"string"},{"name":"extensionIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"hotDeskingUsed","in":"query","required":false,"type":"integer","format":"int32"},{"name":"includeEmergencyAddress","in":"query","required":false,"type":"boolean"},{"name":"keyword","in":"query","required":false,"type":"string"},{"name":"location","in":"query","required":false,"type":"string"},{"name":"macAddressKeyword","in":"query","required":false,"type":"string"},{"name":"macAddresses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"manufacturerId","in":"query","required":false,"type":"string"},{"name":"modelId","in":"query","required":false,"type":"string"},{"name":"modelIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"module","in":"query","description":"module","required":false,"type":"string"},{"name":"newBilling","in":"query","required":false,"type":"boolean"},{"name":"operate","in":"query","description":"operate","required":false,"type":"string"},{"name":"phoneNumberId","in":"query","required":false,"type":"string"},{"name":"phoneNumberKeyword","in":"query","required":false,"type":"string"},{"name":"planType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"privateIpKeyword","in":"query","required":false,"type":"string"},{"name":"provisioned","in":"query","required":false,"type":"integer","format":"int32"},{"name":"registrationName","in":"query","required":false,"type":"string"},{"name":"siteId","in":"query","required":false,"type":"string"},{"name":"siteIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"supportMultipleExtension","in":"query","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"unassigned","in":"query","required":false,"type":"string"},{"name":"withPhoneNumberBound","in":"query","required":false,"type":"integer","format":"int32"},{"name":"ztpSynced","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device/csv-check":{"post":{"tags":["Device Api"],"summary":"deviceCsvCheck","operationId":"deviceCsvCheckUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"deviceCsvParam","description":"deviceCsvParam","required":true,"schema":{"$ref":"#/definitions/DeviceCsvParam"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/v2/pbx/account/{accountId}/device/csv-check-status":{"get":{"tags":["Device Api"],"summary":"devicePoolCsvStatus","op
[...]
